FE2/Web References/ApiJano/Servicios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://api.aplicacionescr.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://api.aplicacionescr.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://api.aplicacionescr.com/">
      <s:element name="test">
        <s:complexType />
      </s:element>
      <s:element name="testResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="testResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Autenticacion" type="tns:Autenticacion" />
      <s:complexType name="Autenticacion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="ConsultarDocumento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clave" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="EsPrueba" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="UsuarioHacienda" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClaveHacienda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarDocumentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarDocumentoResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarDocumento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmldocument">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="EsPrueba" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="CertificadoBase64" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PinCertificado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UsuarioHacienda" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClaveHacienda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarDocumentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnviarDocumentoResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarMensajeReceptor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmldocument">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="clave" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="consecutivoReceptor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cedulaEmisorNumero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cedulaEmisorTipo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cedulaReceptorNumero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cedulaReceptorTipo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CertificadoBase64" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PinCertificado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UsuarioHacienda" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClaveHacienda" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="EsPrueba" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarMensajeReceptorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnviarMensajeReceptorResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="testSoapIn">
    <wsdl:part name="parameters" element="tns:test" />
  </wsdl:message>
  <wsdl:message name="testSoapOut">
    <wsdl:part name="parameters" element="tns:testResponse" />
  </wsdl:message>
  <wsdl:message name="testAutenticacion">
    <wsdl:part name="Autenticacion" element="tns:Autenticacion" />
  </wsdl:message>
  <wsdl:message name="ConsultarDocumentoSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarDocumento" />
  </wsdl:message>
  <wsdl:message name="ConsultarDocumentoSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarDocumentoAutenticacion">
    <wsdl:part name="Autenticacion" element="tns:Autenticacion" />
  </wsdl:message>
  <wsdl:message name="EnviarDocumentoSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarDocumento" />
  </wsdl:message>
  <wsdl:message name="EnviarDocumentoSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="EnviarDocumentoAutenticacion">
    <wsdl:part name="Autenticacion" element="tns:Autenticacion" />
  </wsdl:message>
  <wsdl:message name="EnviarMensajeReceptorSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarMensajeReceptor" />
  </wsdl:message>
  <wsdl:message name="EnviarMensajeReceptorSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarMensajeReceptorResponse" />
  </wsdl:message>
  <wsdl:message name="EnviarMensajeReceptorAutenticacion">
    <wsdl:part name="Autenticacion" element="tns:Autenticacion" />
  </wsdl:message>
  <wsdl:portType name="ServiciosSoap">
    <wsdl:operation name="test">
      <wsdl:input message="tns:testSoapIn" />
      <wsdl:output message="tns:testSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarDocumento">
      <wsdl:input message="tns:ConsultarDocumentoSoapIn" />
      <wsdl:output message="tns:ConsultarDocumentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarDocumento">
      <wsdl:input message="tns:EnviarDocumentoSoapIn" />
      <wsdl:output message="tns:EnviarDocumentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarMensajeReceptor">
      <wsdl:input message="tns:EnviarMensajeReceptorSoapIn" />
      <wsdl:output message="tns:EnviarMensajeReceptorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiciosSoap" type="tns:ServiciosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="test">
      <soap:operation soapAction="http://api.aplicacionescr.com/test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:testAutenticacion" part="Autenticacion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarDocumento">
      <soap:operation soapAction="http://api.aplicacionescr.com/ConsultarDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ConsultarDocumentoAutenticacion" part="Autenticacion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarDocumento">
      <soap:operation soapAction="http://api.aplicacionescr.com/EnviarDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:EnviarDocumentoAutenticacion" part="Autenticacion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarMensajeReceptor">
      <soap:operation soapAction="http://api.aplicacionescr.com/EnviarMensajeReceptor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:EnviarMensajeReceptorAutenticacion" part="Autenticacion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiciosSoap12" type="tns:ServiciosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="test">
      <soap12:operation soapAction="http://api.aplicacionescr.com/test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:testAutenticacion" part="Autenticacion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarDocumento">
      <soap12:operation soapAction="http://api.aplicacionescr.com/ConsultarDocumento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ConsultarDocumentoAutenticacion" part="Autenticacion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarDocumento">
      <soap12:operation soapAction="http://api.aplicacionescr.com/EnviarDocumento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:EnviarDocumentoAutenticacion" part="Autenticacion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarMensajeReceptor">
      <soap12:operation soapAction="http://api.aplicacionescr.com/EnviarMensajeReceptor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:EnviarMensajeReceptorAutenticacion" part="Autenticacion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicios">
    <wsdl:port name="ServiciosSoap" binding="tns:ServiciosSoap">
      <soap:address location="http://140.82.29.123:8081/Servicios.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiciosSoap12" binding="tns:ServiciosSoap12">
      <soap12:address location="http://140.82.29.123:8081/Servicios.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>